In [259]:
import pandas as pd

In [260]:
df = pd.read_csv('NYPD_Arrest_Data__Year_to_Date__20231111.csv')
pd.set_option('display.max_rows', None)

In [261]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,261209118,01/01/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,K,77,0,45-64,F,BLACK,999335,186085,40.677426,-73.945615,POINT (-73.945615 40.677426)
1,262984267,02/03/2023,515,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,K,73,0,25-44,M,BLACK,1009318,178259,40.655923,-73.909650,POINT (-73.90965 40.655923)
2,263664549,02/15/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,62,0,25-44,M,WHITE,982272,158771,40.602468,-74.007120,POINT (-74.00712 40.602468)
3,261345231,01/04/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,M,32,0,25-44,M,BLACK,999899,238684,40.821797,-73.943457,POINT (-73.943457 40.821797)
4,263536618,02/13/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 12005WX,F,K,71,0,25-44,M,BLACK,1001437,183080,40.669175,-73.938042,POINT (-73.938042 40.669175)

In [262]:
df.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [263]:
# checking missing values and potential reasons (13 missing in KY_CD, )(1257 in LAW_CAT_CD)
print(df.isnull().sum())
print(df['LAW_CAT_CD'].unique())

ARREST_KEY                     0
ARREST_DATE                    0
PD_CD                          0
PD_DESC                        0
KY_CD                         13
OFNS_DESC                      0
LAW_CODE                       0
LAW_CAT_CD                  1257
ARREST_BORO                    0
ARREST_PRECINCT                0
JURISDICTION_CODE              0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64
['F' 'M' 'V' nan '9' 'I']

In [265]:
# only filtering for more serious/violent crimes (Felonies)
df = df[df['LAW_CAT_CD']=='F']

In [266]:
# re-checking missing rows
df.isnull().sum()

ARREST_KEY                   0
ARREST_DATE                  0
PD_CD                        0
PD_DESC                      0
KY_CD                       13
OFNS_DESC                    0
LAW_CODE                     0
LAW_CAT_CD                   0
ARREST_BORO                  0
ARREST_PRECINCT              0
JURISDICTION_CODE            0
AGE_GROUP                    0
PERP_SEX                     0
PERP_RACE                    0
X_COORD_CD                   0
Y_COORD_CD                   0
Latitude                     0
Longitude                    0
New Georeferenced Column     0
dtype: int64

In [267]:
# checking new datafra
df.shape

(73866, 19)

In [268]:
# only 13 missing rows of 73,866 rows so lets drop them
df.dropna(inplace=True)

In [269]:
# re checking all columns have no missing values
df.isna().any()

ARREST_KEY                  False
ARREST_DATE                 False
PD_CD                       False
PD_DESC                     False
KY_CD                       False
OFNS_DESC                   False
LAW_CODE                    False
LAW_CAT_CD                  False
ARREST_BORO                 False
ARREST_PRECINCT             False
JURISDICTION_CODE           False
AGE_GROUP                   False
PERP_SEX                    False
PERP_RACE                   False
X_COORD_CD                  False
Y_COORD_CD                  False
Latitude                    False
Longitude                   False
New Georeferenced Column    False
dtype: bool

In [270]:
# dropping irrelevant columns

df = df.drop(columns = ['ARREST_KEY','PD_CD','LAW_CODE','KY_CD','LAW_CAT_CD','ARREST_PRECINCT','JURISDICTION_CODE','X_COORD_CD','Y_COORD_CD','New Georeferenced Column'])

In [271]:
df.head()

,ARREST_DATE,PD_DESC,OFNS_DESC,ARREST_BORO,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude
0,01/01/2023,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,K,45-64,F,BLACK,40.677426,-73.945615
1,02/03/2023,"CONTROLLED SUBSTANCE,SALE 3",DANGEROUS DRUGS,K,25-44,M,BLACK,40.655923,-73.909650
2,02/15/2023,STRANGULATION 1ST,FELONY ASSAULT,K,25-44,M,WHITE,40.602468,-74.007120
3,01/04/2023,STRANGULATION 1ST,FELONY ASSAULT,M,25-44,M,BLACK,40.821797,-73.943457
4,02/13/2023,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,K,25-44,M,BLACK,40.669175,-73.938042

In [272]:
df.dtypes

ARREST_DATE     object
PD_DESC         object
OFNS_DESC       object
ARREST_BORO     object
AGE_GROUP       object
PERP_SEX        object
PERP_RACE       object
Latitude       float64
Longitude      float64
dtype: object

In [273]:
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'])
df['ARREST_BORO'] = df['ARREST_BORO'].astype('category')
df['AGE_GROUP'] = df['AGE_GROUP'].astype('category')
df['PERP_SEX'] = df['PERP_SEX'].astype('category')
df['PERP_RACE'] = df['PERP_RACE'].astype('category')

array(['45-64', '25-44', '<18', '65+', '18-24'], dtype=object)

Empty DataFrame
Columns: [ARREST_KEY, ARREST_DATE, PD_DESC, OFNS_DESC, ARREST_BORO, AGE_GROUP, PERP_SEX, PERP_RACE, Latitude, Longitude]
Index: []